<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="media">
                    <a class="d-flex" href="#">
                        <img src="/assets/img/profile.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <h5>Media heading</h5>
                        Media text
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
