<div class="comments-app" >


	<!-- Comments List -->
	<div class="comments">

	  <div *ngFor="let comment of [1,2,3,4,5,6,7,8,9,5]" class="comment">
		<!-- Comment Avatar -->
		<div class="comment-avatar">
		  <img src="/assets/img/profile.jpg" alt="">
		</div>
		<!-- Comment Box -->
		<div class="comment-box">
		  <div class="comment-text">Eligendi voluptatum ducimus architecto tempore, quaerat explicabo veniam fuga corporis totam reprehenderit quasi sapiente modi tempora at perspiciatis mollitia, dolores voluptate. Cumque, corrupti?</div>
		  <div class="comment-footer">
			<div class="comment-info">
			  <span class="comment-author">
				<a href="mailto:ximme13@somedomain.io">abdellah charki</a>
			  </span>
			  <span class="comment-date">Jan 31, 1986 11:32:04 PM</span>
			</div>
		  </div>
		</div>
	  </div>

	</div>
  </div>
