<main>
    <!-- <img src="/assets/img/bg.jpg" alt=""> -->
    <!-- <img src="/assets/img/bg.jpg" alt=""> -->
    <!-- <img src="/assets/img/bg.jpg" alt=""> -->
    <img src="/assets/img/christine-roy-ir5MHI6rPg0-unsplash (1).jpg" alt="">
    <div class="login-card p-3">
        <img  src="/assets/img/logo.PNG" alt="">
        <form   action="">


            <div class="form-group">
                <label for="">E-mail</label>
                <input type="text"
                  class="form-control" name="email" aria-describedby="helpId" placeholder="exempl@email.com">
              </div>
          
          
          
          
              <div class="form-group">
                  <label for="">Password</label>
                  <input type="password"
                    class="form-control" name="password"  aria-describedby="helpId" placeholder="Enter password">
                </div>
                <div class="form-check mb-3">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name=""   value="checkedValue" checked>
                    remeber me
                  </label>
                </div>
                <button type="button" class="btn submit-login w-100 btn-primary">Log In</button>
        <p>login is scure jke hejkwr hwek k </p>
                

        </form>

 
        
        </div>

        <div   class="home-login">
          <h2>The worlid has  llertiehio</h2>
        </div>


</main>