<main>

	<div class="container">
		<div *ngIf="countrys.length" class="row mt-3">



<!-- add Country -->
			<div   class="col-12">

				<!-- Button trigger modal -->

				<button  (click)="openAdd($event)" class="btn float-right  btn-primary"> <i class="fas fa-plus    "></i> add
					Country</button>

				<div [class.fad.show]="isAdd" class="modal  " tabindex="-1" role="dialog">
					<div class="modal-dialog shadow" (click)="clickOnModl($event)" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Country</h5>
							</div>
							<div class="modal-body">
								<p>Enter a new Country , pleas make the name unique and corect</p>
								<div class="form-group">
									<label for="">Continent</label>
									<select [(ngModel)]="c.cont"  class="form-control">
										<option *ngFor="let c of continents" value="{{c}}">{{c}}</option>
									</select>
								</div>
								<div class="form-group">
									<label for="">country</label>
									<input [(ngModel)]="c.nom_p"  type="text" placeholder="Enter the country" class="form-control" name="">
									<small id="helpId" class="form-text text-danger text-muted">write hire country name
										and must be not null and
										then caracter</small>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" (click)="close()" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" (click)="doPost()" class="btn btn-primary">Add</button>
							</div>
						</div>
					</div>
				</div>


			</div>

<!-- edit Country -->


			<div   class="col-12">

				<!-- Button trigger modal -->

				<div [class.fad.show]="isEdit" class="modal  " tabindex="-1" role="dialog">
					<div class="modal-dialog shadow" (click)="clickOnModl($event)" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edit Country</h5>
							</div>
							<div class="modal-body">
								<p>Enter a new Country , pleas make the name unique and corect</p>
								<div class="form-group">
									<label for="">Continent</label>
									<select [(ngModel)]="c.cont"  class="form-control">
										<option *ngFor="let c of continents" value="{{c}}">{{c}}</option>
									</select>
								</div>
								<div class="form-group">
									<label for="">country</label>
									<input [(ngModel)]="c.nom_p"  type="text" placeholder="Enter the country" class="form-control" name="">
									<small id="helpId" class="form-text text-danger text-muted">write hire country name
										and must be not null and
										then caracter</small>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" (click)="close()" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" (click)="doPut()" class="btn btn-primary">update</button>
							</div>
						</div>
					</div>
				</div>


			</div>
<!-- delete country -->

<div class="col-12">

	<div [class.fad]="isDelete" class="modal show ">
		<div class="modal-dialog" role="document">
			<div (click)="clickOnModl($event)" class="modal-content">
					<div class="modal-header" style=" padding: 6px 13px;background: #966e6e;color: #fff;">
							<h5 class="modal-title">Delete City</h5>
					</div>
				<div class="modal-body">
					<div class="container-fluid">
						<p>Are you sure to delete this city ( <strong>{{c.nom_p}}</strong> )</p>
						<p>if you delete this city, all place in <strong>{{c.nom_p}}</strong> was deleted</p>
						<hr>
						<div class="form-group">
						  <label for="">confirm with your Password</label>
						  <input type="password" class="form-control" placeholder="enter your password" >
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button  (click)="close()"  type="button" class="btn btn-secondary"  >Close</button>
					<button (click)="doDelete(c.id||0)" type="button" class="btn btn-danger">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>



			<table   *ngIf="countrys.length" class="table col-12 mt-2">


				  <thead>
					<tr>
						<th>#</th>
						<th>name</th>
						<th>Continent</th>
						<th>number of citys</th>
						<th>date de creation</th>
						<th>actions</th>

					</tr>
				</thead>

				<tbody>



					<tr *ngFor="let country of countrys">
						<td>{{country.id}}</td>
						<td>{{country.nom_p}}</td>
						<td>{{country.cont}}</td>
						<td>{{ country.countCitys }}</td>
						<td>{{country.date |date }}</td>

						<td>
							<button mat-fab (click)="openEdit(country.id||0,$event)"  type="button" class="btn action-btn btn-dark"><i class="fas fa-edit"></i></button>
							<button  (click)="openDelete(country.id||0,$event)"   type="button"  class="btn action-btn btn-danger" ><i class="fas fa-trash"></i></button>
						</td>
					</tr>



				</tbody>
			</table>



		</div>




		<div  *ngIf="!countrys.length"  class="row">

			<div class="col-12">
				<div class="no-result">
					<img with="200" src="/assets/img/undraw_flagged_2uty.png" alt="">
					<h1>no country to show</h1>

					<div   class="col-12">

						<!-- Button trigger modal -->

						<button  (click)="openAdd($event)" class="btn    btn-primary"> <i class="fas fa-plus    "></i> add
							Country</button>

						<div [class.fad.show]="isAdd" class="modal  " tabindex="-1" role="dialog">
							<div class="modal-dialog shadow" (click)="clickOnModl($event)" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Add Country</h5>
									</div>
									<div class="modal-body">
										<p>Enter a new Country , pleas make the name unique and corect</p>
										<div class="form-group">
											<label for="">Continent</label>
											<select [(ngModel)]="c.cont"  class="form-control">
												<option *ngFor="let c of continents" value="{{c}}">{{c}}</option>
											</select>
										</div>
										<div class="form-group">
											<label for="">country</label>
											<input [(ngModel)]="c.nom_p"  type="text" placeholder="Enter the country" class="form-control" name="">
											<small id="helpId" class="form-text text-danger text-muted">write hire country name
												and must be not null and
												then caracter</small>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" (click)="close()" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<button type="button" (click)="doPost()" class="btn btn-primary">Add</button>
									</div>
								</div>
							</div>
						</div>


					</div>

				</div>
			</div>



		</div>
	</div>
</main>
