              
                    <tr >
                        <td>1</td>
                        <td>sssssssss</td>
                        <td><a href="#">ddddd</a></td>
                        <td>morocoo</td>
                        <td>jkfwer</td>
                        <td> ddd</td>
                        <td>
                            <button type="button" class="btn action-btn btn-primary"><i class="fas fa-eye    "></i></button>
                            <button type="button" class="btn action-btn  btn-dark"><i class="fas fa-edit    "></i></button>
                            <button type="button" class="btn action-btn  btn-info"><i class="fas fa-map    "></i></button>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn action-btn  btn-danger" data-toggle="modal" data-target="#modelId"><i class="fas fa-trash    "></i></button>



                        
                        
                        <!-- Modal -->
                        <div class="modal fade" id="modelId" tabindex="-1" aria-labelledby="modelTitleId" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                        <div class="modal-header" style=" padding: 6px 13px;background: #966e6e;color: #fff;">
                                                <h5 class="modal-title">Delete</h5>
                                            
                                            </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            Delete this place jh kjhijkhjk gh
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </td>
                    </tr>

