<main>
    <div class="container">
        <div class="row">
            <div class="col-3  dash-statistic-card ">
                <div class="card">
                    <div class="card-body">
                        <div class="card-icon">
                            <i class="fas fa-user    "></i>
                        </div>
                        <div class="card-statistic">103<span>user</span></div>

                    </div>
                </div>
            </div>

            <div class="col-3  dash-statistic-card ">
                <div class="card">
                    <div class="card-body">
                        <div class="card-icon">
                            <i class="fas  fa-archway"></i>
                         </div>
                        <div class="card-statistic">103<span>place</span></div>

                    </div>
                </div>
            </div>


            <div class="col-3  dash-statistic-card ">
                <div class="card">
                    <div class="card-body">
                        <div class="card-icon">
                            <i class="fas  fa-location-arrow "></i>
                        </div>
                        <div class="card-statistic">103<span>city</span></div>

                    </div>
                </div>
            </div>
            <div class="col-3  dash-statistic-card ">
                <div class="card">
                    <div class="card-body">
                        <div class="card-icon">
                            <i class="fas fa-flag   "></i>
                        </div>
                        <div class="card-statistic">103<span>country</span></div>

                    </div>
                </div>
            </div>

            <div class="col-3  dash-statistic-card ">
                <div class="card">
                    <div class="card-body">
                        <div class="card-icon">
                            <i class="fas fa-comment-alt"></i>
                        </div>
                        <div class="card-statistic">103<span>review</span></div>

                    </div>
                </div>
            </div>


            <div class="col-3  dash-statistic-card ">
                <div class="card">
                    <div class="card-body">
                        <div class="card-icon">
                            <i class="fas fa-user-tie "></i>
                        </div>
                        <div class="card-statistic">103<span>Admins</span></div>

                    </div>
                </div>
            </div>

            
            <div class="col-3  dash-statistic-card ">
                <div class="card">
                    <div class="card-body">
                        <div class="card-icon">
                            <i class="fas fa-flag   "></i>
                        </div>
                        <div class="card-statistic">103<span>Admins</span></div>

                    </div>
                </div>
            </div>


            <div class="col-3  dash-statistic-card ">
                <div class="card">
                    <div class="card-body">
                        <div class="card-icon">
                            <i class="fas fa-flag"></i>
                        </div>
                        <div class="card-statistic">103<span>country</span></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
