<main>



	<div class="main-img-city">
		<img  src="https://images.unsplash.com/photo-1543877087-ebf71fde2be1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
		<div class="infos">
			<div class="title">
				<h1 class="m-0">Molay bouchta lkhamar </h1>
				<p class="m-0"><i class="fas fa-map-marker-alt mr-2"></i>  Fes, morocoo</p>
			</div>


			<button class="badge action-place btn badge-pill places-count badge-primary"> <i class="fas fa-th-list"></i> place</button>
			<button class="badge action-place btn badge-pill places-count badge-primary"> <i class="fas fa-heart"></i> 10</button>

		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-12 mt-4">
				<h1 class="m-1">Discrption</h1>
				<p class="p-2">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dicta velit suscipit saepe non. Obcaecati cumque explicabo assumenda, reiciendis voluptatum omnis magni nisi vitae, delectus quasi, ipsa quam neque asperiores.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dicta velit suscipit saepe non. Obcaecati cumque explicabo assumenda, reiciendis voluptatum omnis magni nisi vitae, delectus quasi, ipsa quam neque asperiores.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dicta velit suscipit saepe non. Obcaecati cumque explicabo assumenda, reiciendis voluptatum omnis magni nisi vitae, delectus quasi, ipsa quam neque asperiores.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dicta velit suscipit saepe non. Obcaecati cumque explicabo assumenda, reiciendis voluptatum omnis magni nisi vitae, delectus quasi, ipsa quam neque asperiores.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dicta velit suscipit saepe non. Obcaecati cumque explicabo assumenda, reiciendis voluptatum omnis magni nisi vitae, delectus quasi, ipsa quam neque asperiores.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dicta velit suscipit saepe non. Obcaecati cumque explicabo assumenda, reiciendis voluptatum omnis magni nisi vitae, delectus quasi, ipsa quam neque asperiores.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dicta velit suscipit saepe non. Obcaecati cumque explicabo assumenda, reiciendis voluptatum omnis magni nisi vitae, delectus quasi, ipsa quam neque asperiores.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dicta velit suscipit saepe non. Obcaecati cumque explicabo assumenda, reiciendis voluptatum omnis magni nisi vitae, delectus quasi, ipsa quam neque asperiores.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dicta velit suscipit saepe non. Obcaecati cumque explicabo assumenda, reiciendis voluptatum omnis magni nisi vitae, delectus quasi, ipsa quam neque asperiores.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dicta velit suscipit saepe non. Obcaecati cumque explicabo assumenda, reiciendis voluptatum omnis magni nisi vitae, delectus quasi, ipsa quam neque asperiores.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dicta velit suscipit saepe non. Obcaecati cumque explicabo assumenda, reiciendis voluptatum omnis magni nisi vitae, delectus quasi, ipsa quam neque asperiores.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dicta velit suscipit saepe non. Obcaecati cumque explicabo assumenda, reiciendis voluptatum omnis magni nisi vitae, delectus quasi, ipsa quam neque asperiores.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia dicta velit suscipit saepe non. Obcaecati cumque explicabo assumenda, reiciendis voluptatum omnis magni nisi vitae, delectus quasi, ipsa quam neque asperiores.
				</p>
			</div>



			<div class="col-12 mt-4">
				<h1 class="m-1">Galary</h1>
				<div class="row">
					<div *ngFor="let i of [1,2,3,4,5,6]" class="col-4 p-2 overflow-hidden"><img src="https://images.unsplash.com/photo-1622016199677-992cb96c2b1a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt=""></div>
				</div>
			</div>





			<div class="col-12 mt-4">
				<h1 class="m-1">Reviews</h1>

				<app-comment></app-comment>
			</div>





		</div>
	</div>



</main>


<app-footer></app-footer>
