.dash-statistic-card{
    padding: 1em .6em;
    
    .card{
        border: none;
        box-shadow: 0 0 3px 0px #54343457;
        border-radius: 0;
        height: 100px;
        .card-body{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            
        .card-icon{

            font-size: 70px;
            height: 100%;
            line-height: 1.3;
            text-align: center;
            color: #323556;
        }
        .card-statistic{
            font-size: 45px;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */
    line-height: 2;
    color: #323556;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    line-height: 1;
    span{
        font-size: 14px;
    }
        }
        }
    }
}