.table{
    thead{
        background: #53465f;
        color: #fff;
        border: none;
        th{
            padding: 10px;
        }
    }
    tbody{

        tr{
            td{
                padding: .5em;
            }
            
        }
    }
}